# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo-shared/
.expo/
dist/
web-build/
expo-env.d.ts
.yarn/

# Native
android/
ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example
.env*.local
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# build
*.apk
*.aab
*.ipa
*.app
*.xcarchive

# typescript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Testing
coverage/
.jest/
__tests__/

# Misc
.tmp/
.cache/
.yarn/
.temp/

# Example
app-example

